# Ignore bundler config.
/.bundle

# Ignore the default SQLite database
./db
/*.sqlite3
/db
/*.sqlite3-journal
db/

# Ignore all logfiles and tempfiles
./log/
*.log
/tmp

#for Eclipse
bin/
.project
.classpath
.settings/

#for maven
target/

# Ignore other unneeded files
.doc/
*.swp
*~
.DS_Store
.idea
.secret
